.post {
  border-bottom: 1px solid $light-grey;
  .sticky {background: $light-grey;}
}

.single-post {
  .post {
    margin-bottom: 1rem;
  }
  .post-content p:first-child {
    color: #000;
    font-size: modular-scale(1, 1rem, $major-third);
  }
}

article.page,
article.post {
  padding: modular-scale(3, 1rem, $major-third) 0;
}