.post-meta {
  font-family: $secondary-font;
  font-size: modular-scale(-1, 1rem, $major-third);

  a {
    color: #666;
    &:hover {
      color: #000;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
    margin-right: 15px;
    @extend %last;
  }

  i {
    margin-right: 5px;
  }

}