.search {

  &-field {
    @include search-input($light-grey, #333);
    width: 70%;
  }

  &-submit {
    @include search-input($dark-grey, #fff);
    width: 22%;
    float: right;
    transition: .3s;
    &:hover {
      cursor: pointer;
      background: darken($dark-grey, 10%)
    }

  }

}
